<div class="outerDiv">
  <div class="grid">
    <form class='search-block'>
      <label class='search-label label'>
        <span>Where</span>
      </label>
      <input class='search-input home-input searchField' placeholder='Address, City, State' type='/search' value=''>
    </form>
  <div class ="ob">  
    <form class='price-block'>
      <label tabIndex="-1" class='price-label label'>
        <span>Check in</span>
      </label>
      <a class='button' href='#' title='Start'><span class='tagSearch'>Check in</span></a>
      
    </form>
  </div>
  
  <div class ="ob">  
  <form class='price-block'>
    <label tabIndex="-1" class='price-label label'>
      <span >Check out</span>
    </label>
    <a class='button' href='#' title='End'>
      <span class='tagSearch'>Check out</span>
    </a>
    
  </form>
</div>
<div class ="ob">  
  <form class='price-block'>
    <label tabIndex="-1" class='price-label label'>
      <span>Guests</span>
    </label>
    <a class='button' href='#' title='Start'><span class='tagSearch'>Guests</span></a>
    
  </form>
</div>
    <button routerLink="/searchPage"  mat-button class="buttonSearchLast"placeholder="end">Search</button>
    

    
  </div>
</div>
